{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<title> Agregar Habitacion </title>

<a class="nav-link active" href="{%url  'lista_habitaciones' %}"> <b>Volver</b></a>

<div class="container">
    <div class="row">
      <div class="col">
       <h1>CARGAR UNA HABITACION</h1>
      </div>
      </div>
      <div class="row">
      <div class="col">
        

       {% if actualizar_habitacion %}
           <form action="{% url 'actualizar_habitacion' %}" method="post">
       {% else %}
           <form action="{%url 'cargar_habitacion'%}" method="post">   
       {% endif %}
 
       {% csrf_token %} 
       {% bootstrap_form form_habitacion %}
     
       {% if actualizar_habitacion %}
         {% bootstrap_button "Actualizar Habitacion" button_type="submit" button_class="btn-primary" %} 
       {% else %}
         {% bootstrap_button "Guardar Habitacion" button_type="submit" button_class="btn-success" %}
       {% endif %}
       
       </form>
      </div>
    </div>
  </div>