{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<title> Recepción Hotel </title>

<ul class="nav bg-dark fixed">
    <li class="nav-item">
      <a class="nav-link active" href="{%url  'index' %}"> Recepción Hotel - Volver a Pagina Inicio </a>
    </li>
  </ul>
  <br><br>

  <!-- TABLA/ACCIONES HUESPED-->
 

  {% if resultados_busqueda_huespedes %}
<h1>Resultados de la busqueda</h1>
{%endif%}  

  <div class="container">    


  {% url 'lista_pagos' as lista_pagos_url %}
  {% url 'lista_habitaciones' as lista_habitaciones_url %}
  {% bootstrap_button "Pagos" button_class="btn-success" button_type="link" href=lista_pagos_url %}
  {% bootstrap_button "Habitaciones" button_class="btn-success" button_type="link" href=lista_habitaciones_url %} <br><br>
    <div class="row">
      <div class="col">
        {% url 'cargar_huesped' as cargar_huesped_url %}
        {% url 'buscar_huesped' as buscar_huesped_url %}
        {% url 'actualizarhuesped' as actualizar_huesped_url %}
        {% bootstrap_button "Agregar Huesped" button_class="btn-info" button_type="link" href=cargar_huesped_url %}
        {% bootstrap_button "Buscar Huesped" button_class="btn-info" button_type="link" href=buscar_huesped_url %}  
      <div>
    <div>
<br>

    <div class="row">
      <div class="col">
          {% if huespedes %}
          <table class="table">
              <thead>
                  <th scope="col">Identificador</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Documento</th>
                  <th scope="col">Email</th>
                  <th scope="col">Forma de Pago</th>
                  <th scope="col">Acciones</th>
              </thead>
          
              {% for h in huespedes %}
              <tbody>
                  <tr>
                      <th scope="row">{{h.id}} </th>
                      <td> {{h.nombre}} </td>
                      <td> {{h.apellido}} </td>
                      <td> {{h.documento}} </td>
                      <td> {{h.email}} </td>
                      <td> {{h.formadepago}} </td>
                      <td>
                        {% url 'borrar_huesped' identificador=h.id as borrar_huesped_url %}
                        {% url 'actualizar_huesped' identificador=h.id as actualizar_huesped_url %} 
                        {% bootstrap_button "Borrar Huesped" size="sm" button_class="btn-danger" button_type="link" href=borrar_huesped_url %}
                        {% bootstrap_button "Actualizar Huesped" size="sm" button_class="btn-dark" button_type="link" href=actualizar_huesped_url %}
  
                      </td>
                  </tr>
              </tbody>
              {% endfor %}
          </table>
          {% else %}
              <p><b>No tienes huéspedes cargados</b></p>
          {% endif %}
      </div>
    </div>
  </div>

  <ul class="nav bg-dark fixed-bottom justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="{%url  'index' %}"> Recepción Hotel - Sosa / Cannizzo - {% now 'd-m-Y' %}</a>
    </li>
  </ul>  